@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins-bold";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}


@font-face {
  font-family: "poppins-semibold";
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "poppins-light";
  src: url("./assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("./assets/fonts/Roboto/Roboto-Black.ttf");
}


@font-face {
  font-family: "roboto-semibold";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "roboto-light";
  src: url("./assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "quicksand";
  src: url("./assets/fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "quicksand-bold";
  src: url("./assets/fonts/Quicksand/Quicksand-Bold.ttf");
}


@font-face {
  font-family: "quicksand-semibold";
  src: url("./assets/fonts/Quicksand/Quicksand-SemiBold.ttf");
}

@font-face {
  font-family: "dancing-script";
  src: url("./assets/fonts/Dancing Script/DancingScript-Regular.ttf");
}

@font-face {
  font-family: "dancing-script-bold";
  src: url("./assets/fonts/Dancing Script/DancingScript-Bold.ttf");
}


@font-face {
  font-family: "dancing-script-semibold";
  src: url("./assets/fonts/Dancing Script/DancingScript-SemiBold.ttf");
}

@font-face {
  font-family: "great-vibes";
  src: url("./assets/fonts/Great Vibes/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "alkatra";
  src: url("./assets/fonts/Alkatra/Alkatra-Regular.ttf");
}

@font-face {
  font-family: "alkatra-bold";
  src: url("./assets/fonts/Alkatra/Alkatra-Bold.ttf");
}


@font-face {
  font-family: "alkatra-semibold";
  src: url("./assets/fonts/Alkatra/Alkatra-SemiBold.ttf");
}

body {
  font-size: 14px;
  font-weight: normal;
  /* background-color: #FFE6E6 !important; */
  /* margin: 0 !important;
  padding: 0 !important; */
}

#root{
  margin: 0 !important;
  padding: 0 !important;
  /* background-color: "#FFE6E6"; */
}


